body{
  background-color: rgb(71, 100, 81);
  color: #FFF;
  margin: 0 0 0 0;
}

.navbar{
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a{
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 20px;
  height: 5%;
}

.navbar a:hover{
  background: #ddd;
  color: black;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: #333;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.home{
  padding: 5%;
  text-align: center;
}

.map{
  padding: 5%;
  text-align: center;
}

.register{
  padding: 5%;
  text-align: center;
}

.login{
  padding: 5%;
  text-align: center;
}

.account{
  padding: 5%;
  text-align: center;
}